
 .footer{
    position: fixed;
    top: 0vh;
    width: 5%;
    height: 100vh;
    background-color: #fff;
    box-shadow:2px 5px 2px 5px rgba(0,0,0,0.5);
}

.footer .container nav{
    width: 80%;
    margin:  10% auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    margin-top: 20vh;
    
}
li{
    list-style-type:none;
    color:#000
}
.home, .komment, .circle,  .user{
    width: 25px;
}

/* .home svg:hover , .komment svg:hover ,  .circle svg:hover,  .user svg:hover{
     width: 30px;
    color: #000;
} */

.nav__links li .active{
    color: #000;
   width: 30px;
}


@media only screen and (max-width: 550px){
    .footer{
        position: fixed;
        top: 90vh;
        width: 100%;
        height: 10vh;
        background-color: #fff;
        box-shadow:2px 5px 2px 5px rgba(0,0,0,0.5);
    }

   .footer .container nav{
        width: 80%;
        margin:  8% auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        
    }
    li{
        list-style-type:none;
        color:#000
    }
    .home, .komment, .circle,  .user{
        width: 20px;
    }

    .home svg:hover , .komment svg:hover ,  .circle svg:hover,  .user svg:hover{
         width: 30px;
        color: #000;
    }

}